html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*clearfix hack */
.clearFix:after, {
  content: "";
  display: table;
  clear: both; }

#wrapper {
  width: 100%;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}


/* ---------- timeline ---------- */


#timeline {
  margin: 0 auto 9.6rem auto;
  width: 1000px;
  height: 100%;
  overflow: hidden;
  padding-top: 2rem;
}

#timeline header {
  display: block;
  border-bottom: 1px solid rgb(55,55,55);
}

#timeline h1 {
  display: inline-block;
  font-family: 'Merriweather', Georgia, serif;
  font-size: 3rem;
  letter-spacing: -.05rem;
  line-height: 4rem;
  padding-bottom: 1rem;
}

.buttons {
  float: right;
  padding-top: 1rem;
  width: 70px;
}

.buttons img {
  width: 45%;
  cursor: pointer;
  opacity: .7;
}

.buttons img:hover, .buttons img:active {
  opacity: 1;
}

.previous {
  float: left;
}

.next {
  float: right;
}

.buttonHide {
  display: none;
}

#cards {
  width: 800px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

#cards ul {
  overflow: hidden;
  list-style: none;
  width: 800px;
  height: 100%;
  transition: margin .2s ease-out;
}

#cards img {
  width: 100%;
}

.card {
  display: inline-block;
  float: left;
  opacity: 0;
  padding: 2.4rem 0;
  width: 800px;
  transition: margin .2s ease-out;
  transition: opacity .2s ease-out;
}

.card p {
  font-family: Arial, sans-serif; 
  font-size: 1.4rem;
  line-height: 2.2rem;
}

.ssCutline {
  font-family: Arial, sans-serif;
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.7rem;
  margin-bottom: 2.4rem;
}

.active {
  opacity: 1;
}


@media (max-width: 1200px) {
  #timeline, #cards, .card, #storyHead, .bodyCopy {
    width: 900px;
  }
}

@media (max-width: 1000px) {
  #timeline, #cards, .card, #storyHead, .bodyCopy {
    width: 700px;
  }
  .optional {
    display: none;
  }
}

@media (max-width: 800px) {
  #timeline, #cards, .card, #storyHead, .bodyCopy {
    width: 600px;
  }
  #timeline h1 {
    font-size: 2.6rem;
    line-height: 3.6rem;
  }
  .buttons {
    padding-top: .6rem;
  }
.halfImage {
    width: 100%;
    float: none;
    margin: 0 0 2.4rem 0;
  }    
}

@media (max-width: 650px) {
  #timeline, #cards, .card, #storyHead, .bodyCopy {
    width: 400px;
  }
  #timeline h1, .blackLabel, #date {
    float: left;
  }
  #timeline h1 {
    width: 300px;
    line-height: 2.8rem;
  }
  .blackLabel {
    padding: .6rem;
    margin-bottom: 1rem;
  }
  #date {
    padding: 0 0;
  }

}

@media (max-width: 440px) {
  #timeline, #cards, .card, #storyHead, .bodyCopy {
    width: 300px;
  }
  .buttons {
    width: 100%;
    float: left;
    margin-bottom: 1.2rem;
  }
  .buttons img {
    width: 3rem;
  }
  .img200 {
    float: none;
    width: 100%;
    margin: 0 0 2.4rem 0;
  }

}